@import "../../styles/prelude.scss";

.login-field {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }

.login, .error {
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
    outline: none;
    border: none;
    padding: 7px 10px;
    margin-top: 8px;
    color: rgb(25, 136, 240);
    background-color: rgb(40, 40, 40);
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}