@import "../../styles/prelude.scss";

.login-field {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }

.login, .error {
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
    margin-top: 8px;
}