@import "../styles/prelude.scss";

.post {
  display: flex;
  margin: 0 auto;
  border: $border-color;
  height: 720px;
  width: 1476px;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

.image-wrapper {
  width: 1080px;
  height: 100%;
  border: $border-color;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  border: $border-color;
  padding: 20px;
  width: 350px;
  word-wrap: break-word;
}

.post-comments {
  overflow-y: auto;
}

.post-description {
  border-bottom: 1px solid black;
  height: 100px;
  width: 350px;
}
