@import "../styles/prelude.scss";

input{
    margin-bottom: 5px;
}

.register{
    font-size: 17px;
    display:flex;
    justify-content: center;
}

.user-names-left{
    margin-right:30px;
}

.user-names{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    float: left;
    margin-bottom: 10px;
}

.button{
    color: rgb(25, 136, 240);
    background-color: rgb(40, 40, 40);
    outline: none;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

.register-button{
    display:flex;
    justify-content: flex-end;
}