.register
{
    
    font-size: 20px;
    display:flex;
    justify-content: center;
}

.registration-form
{
    
}

.user-names-left
{
    padding: 5%;
}

.user-names-right
{
    padding: 5%;
}

.user-names
{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}

.user-content
{
    justify-content: center;
}

.button
{
    color: rgb(25, 136, 240);
    background-color: rgb(40, 40, 40);
    outline: none;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}