/* ==============
    TYPOGRAPHY
================*/

h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.2rem 0;
}

$p-fontsize: 18px;
$h1-fontsize: 70px;
$h2-fontsize: 48px;
$h3-fontsize: 36px;
$h4-fontsize: 24px;
$h5-fontsize: 20px;
$h6-fontsize: 16px;

/*===================
    MEDIA QUERIES
====================*/
$large-screen: 1200px; // DESKTOPS 
$medium-screen: 992px; // TABLET
$small-screen: 600px; // MOBILE

$extra-large-and-up: "only screen and (min-width : #{$large-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";
$medium-and-up: "only screen and (min-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$small-and-down: "only screen and (max-width : #{$small-screen})";

/*==========
    OTHER
===========*/
$primary-color: #1c1b1b;
$primary-color-light: rgb(40,40,40);
$secondary-color: rgb(25, 136, 240);

$border-color: 1px solid black;
$link-color: cornflowerblue;
$hover-transition: color 500ms;

textarea,
input[type="text"],
input[type="value"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="submit"],
input[type="file"] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

.button {
    outline: none;
    border: none;
    padding: 7px 10px;
    color: $secondary-color;
    background-color: $primary-color-light;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
