/* ==============
    TYPOGRAPHY
================*/

h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.2rem 0;
}

$p-fontsize: 18px;
$h1-fontsize: 70px;
$h2-fontsize: 48px;
$h3-fontsize: 36px;
$h4-fontsize: 24px;
$h5-fontsize: 20px;
$h6-fontsize: 16px;

$base-fontsize: $p-fontsize;

/*===================
    MEDIA QUERIES
====================*/
$large-screen: 1200px; // DESKTOPS 
$medium-screen: 992px; // TABLET
$small-screen: 600px; // MOBILE

$extra-large-and-up: "only screen and (min-width : #{$large-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";
$medium-and-up: "only screen and (min-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
