@import "../../styles/prelude.scss";

.user-component {
    .follow-button{
        color: rgb(25, 136, 240);
        background-color: rgb(40, 40, 40);
        outline: none;
        border: none;
        padding: 5px 20px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
    }
    .all-posts {
        box-sizing: border-box;
        margin: 0 auto;
        columns: 3;
        column-gap: 7px;
        max-width: 1440px;

        .single-post .image-wrapper {
            margin: 0 auto;
            padding: 10px 0px;
            text-align: center;
            max-width: 400px;

            img {
                max-width: 400px;
            }
        }

        .single-post {
            a {
                cursor: context-menu;
            }
            
            img {
                cursor: pointer;
            }
        }

        // LAPTOP
        @media only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen}) {
            .single-post .image-wrapper, .single-post .image-wrapper img {
                max-width: 300px;
            }
        };

        // TABLET
        @media #{$medium-and-down} {
            columns: 3;

            .single-post .image-wrapper, .single-post .image-wrapper img {
                max-width: 200px;
            }
        }

        // MOBILE
        @media #{$small-and-down} {
            columns: 1;
            column-gap: 5px;
        }
    }
}