@import "../../styles/prelude.scss";

.follow-button{
    color: rgb(25, 136, 240);
    background-color: rgb(40, 40, 40);
    outline: none;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

.profile-wrapper{
    margin: 30px auto;
    width: 950px;
    border-bottom: solid 1px white;
    min-height: 150px;
}
