.comment-div {
  border-bottom: 1px solid #a9a9a9;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  background: black;
  color: white;
}

.comment-div a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.date-created {
  color: grey;
  font-size: 12px;
}
