@import "../../../styles/prelude.scss";

.comment-div {
  font-size: 14px;
  margin: 0 auto;
  padding-left: 20px;

  border-bottom: 1px solid #a9a9a9;
  background: black;
  color: white;
  break-inside: avoid;

  a {
    color: white;
    text-decoration: none;

    font-size: $h6-fontsize;
    font-weight: bold;
  }
}

.date-created {
  color: grey;
  font-size: 12px;
}