@import "../../../styles/prelude.scss";

.comment-component {
  font-size: 14px;
  padding: 10px 15px;
  max-width: 300px;
  color: white;
  border-bottom: 1px solid #a9a9a9;

  a {
    color: white;
    font-weight: bold;
    font-size: $h6-fontsize;
    text-decoration: none;
  }

  .comment-div {
    display: flex;
    justify-content: space-between;

    .comment-content {
      display: flex;
      flex-flow: column nowrap;
      word-break: break-word;
      padding: 5px 0px;
    }

    .comment-edit {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }
  }

  .like-div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .date-created {
      color: grey;
    }
  }

    // MOBILE
    @media #{$small-and-down} {
      min-width: 100%;
      box-sizing: border-box;
     }
}
