@import "../../../styles/prelude.scss";

.edit-overlay {
 
  .edit-page-button {
    color: white;
    background-color: black;
    width: 100%;
    padding: 50px 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .edit-content {
    background: black !important;
    border: 1px solid black !important;
    padding: 0px !important;
  }
  
  .edit-menu-content {
    background: $primary-color-light !important;
    width: 400px !important;
    top: 250px !important;
    left: 55px !important;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
  
    // TABLET
    @media #{$medium-and-down} {
      top: 250px !important;
      left: 30px !important;
      max-width: 320px;
    }

    // MOBILE
    @media #{$small-and-down} {
      left: 10px !important;
      max-width: 150px;

      textarea {
        max-width: 105px;
      }
    }
  }
  
  .edit-text-area {
    color: white;
    background-color: $primary-color-light;
    border: 1px solid $primary-color-light;
    outline: none;
    resize: none;
    width: 300px;
    overflow-y: auto;
    font-size: $h6-fontsize;
    word-wrap: break-word;


    textarea {
      // TABLET
      @media #{$medium-and-down} {
        max-width: 320px;
      }

      // MOBILE
      @media #{$small-and-down} {
        max-width: 105px;
      }
    }
  }
  
  .update-comment-btn {
    border: none;
    color: $secondary-color;
    background-color: $primary-color-light;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }  
}