.edit-profile {
  margin: 100px auto auto;
  width: 50%;
  max-height: 500px;
}
input,
textarea {
  color: white;
  width: 300px;
  background-color: rgb(18, 18, 18);
  border: solid 1px rgb(164, 154, 154);
}

textarea,
.btn {
  outline: none;
  resize: none;
}

textarea {
  overflow-y: auto;
  height: 50px;
  vertical-align: top;
  word-wrap: break-word;
}

h1 {
  max-width: 300px;
  padding-left: 200px;
}

label {
  vertical-align: middle;
}

.edit-profile-form {
  width: 1000px;

  label {
    display: inline-block;
    clear: left;
    text-align: right;
    margin: 0 50px;
    width: 100px;
  }
}

.edit-profile-button {
  padding-left: 410px;
  margin-top: 10px;
  width: 100px;
}

.btn {
  display: inline-block;
  color: rgb(25, 136, 240);
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
}

.edit-profile-page {
  width: 100%;
  height: 50%;
  margin-top: 0px;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: rgb(28, 27, 27);
  padding-bottom: 10px;
}

.nav {
  top: 100px;
  position: relative;
  text-align: right;
  font-weight: bold;
  margin: 0 15%;
  transform: translateY(-50%);

  ul {
    list-style: none;

    li {
      position: relative;
      margin: 3.2em 0;

      a {
        display: inline-block;
        color: rgba(#fff, 0.35);
        line-height: 5em;
        text-decoration: none;
        transition: all ease-out 300ms;
        white-space: nowrap;
      }

      &.active a {
        color: white;
      }

      &:not(.active)::after {
        opacity: 0.2;
      }

      &:not(.active):hover a {
        color: rgba(#fff, 0.75);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #114dad, #2eb8e6);
      }
    }
  }
}
