.App {
  padding: 20px;
  min-height: 100vh;
  background-color: lightgray;
  box-sizing: border-box;
}

.error {
  color: red;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.navLinks, .registered-user-options, .unregistered-user-options {
  display: flex;
  
  a {
    padding: 0px 10px;
  }
}

.navLinks {
  flex-flow: row nowrap;
}

.registered-user-options, .unregistered-user-options {
  justify-content: flex-end;
}
