@import "../../styles/prelude.scss";

.like-comment-component{
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;

    .like-button{
        cursor: pointer;
        padding-right: 3px;
    }
}

